

{% extends 'main.html' %}
{% load static %}


{% block css %}

<style>
@keyframes growProgressBar {
  0%, 33% { --pgPercentage: 0; }
  100% { --pgPercentage: var(--value); }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 12rem;
  --fg: #369;
  --bg: #def;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: 
    radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
    ;
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 8);
  color: var(--fg);
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: '% Tasks Completed';
}

/* demo */
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
</style>

{% endblock css %}


{% block content %}

<center>
    <center>
        <div  role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="--value:{{tasks}}; margin-right: 100px;"></div>
        <br>
        <h2 style="margin-right: 100px;">{{strin}}</h2>
    </center>

</center>


<script>

</script>

{% endblock content %}